#coding-log {
  width: 299px;
  opacity: 1;
}

#coding-log-text {
  width: 302px;
  opacity: 1;
}

#coding-log-github {
  width: 302px;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: underline;
  margin-top: 30px;
  opacity: 1;
  z-index: 0;
}

@media screen and (max-width: 1500px) {
  #coding-log-image {
    width: 658px;
    height: 531px;
    background: url(../../images/coding-log-image.png) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
    opacity: 1;
    position: relative;
  }
}

@media screen and (min-width: 1500px) {
  #coding-log-image {
    width: 858px;
    height: 731px;
    background: url(../../images/coding-log-image.png) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
    opacity: 1;
    position: relative;
  }
}
