#coding-log {
  width: 299px;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 5px;
  color: #ffffff;
  margin-top: 0;
}

#coding-log-text {
  width: 302px;
  font-size: var(--font-size);
  line-height: 30px;
  color: #ffffff;
  letter-spacing: 2px;
  margin-bottom: 0;
}

#coding-log-github {
  font-size: 14px;
  color: #ffffff;
  text-decoration: underline;
  z-index: 10;
}

@media (max-width: 1000px) {
  #coding-log-image {
    width: 227.15px;
    height: 373.6px;
    background: url(../../images/coding-log-phone.png) no-repeat center;
    background-size: contain;
    /* box-shadow: 5px 5px 5px 5px var(--shadow); */
    opacity: 1;
    position: relative;
  }
}

@media screen and (min-width: 1000px) {
  #coding-log-image {
    width: 180.6px;
    height: 357px;
    background: url(../../images/coding-log-image.png) no-repeat center;
    background-size: cover;
    box-shadow: 5px 5px 5px 5px var(--shadow);
    opacity: 1;
    position: relative;
  }
  #coding-log-image:before {
    content: "";
    position: absolute;
    width: 180.6px;
    height: 357px;
    background: url(../../images/coding-log-image-before.png) no-repeat center;
    background-size: cover;
    box-shadow: 5px 5px 5px 5px var(--shadow);
    opacity: 1;
    left: -130px;
    top: 20px;
    transform: rotate(-9.85deg);
  }

  #coding-log-image:after {
    content: "";
    position: absolute;
    width: 180.6px;
    height: 357px;
    background: url(../../images/coding-log-image-after.png) no-repeat center;
    background-size: cover;
    box-shadow: 5px 5px 5px 5px var(--shadow);
    opacity: 1;
    right: -130px;
    top: 20px;
    transform: rotate(9.85deg);
    z-index: -1;
  }
}

@media screen and (min-width: 1500px) {
  #coding-log-image {
    width: 228px;
    height: 454.23px;
    background: url(../../images/coding-log-image.png) no-repeat center;
    background-size: cover;
    box-shadow: 5px 5px 5px 5px var(--shadow);
    opacity: 1;
    position: relative;
    transform: rotate(9.85deg);
  }
  #coding-log-image:before {
    content: "";
    position: absolute;
    width: 228px;
    height: 454.23px;
    background: url(../../images/coding-log-image-before.png) no-repeat center;
    background-size: cover;
    box-shadow: 5px 5px 5px 5px var(--shadow);
    opacity: 1;
    left: -220px;
  }

  #coding-log-image:after {
    content: "";
    position: absolute;
    width: 228px;
    height: 454.23px;
    background: url(../../images/coding-log-image-after.png) no-repeat center;
    background-size: cover;
    box-shadow: 5px 5px 5px 5px var(--shadow);
    opacity: 1;
    right: -220px;
    z-index: -1;
  }
}
