#coding-log {
  position: absolute;
  width: 299px;
  opacity: 1;
}

#coding-log-text {
  position: absolute;
  width: 302px;
  opacity: 1;
}

#coding-log-github {
  position: absolute;
  width: 302px;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: underline;
  margin-top: 30px;
  opacity: 1;
  z-index: 0;
}

#coding-log-image {
  width: 502px;
  height: 255px;
  background: url(../../images/coding-log.png) no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 1;
  position: relative;
  box-shadow: 5px 5px 5px 5px var(--shadow);
}
