#projects-wrapper {
  display: flex;
  justify-content: space-evenly;
  font-family: Avenir LT Std;
}

#project-text-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

#project-image-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  padding-top: 50px;
}

#project-heading-text-wrapper {
  width: 299px;
  height: 200px;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 5px;
  color: #ffffff;
  margin-top: 0;
}

#project-sub-text-wrapper {
  width: 302px;
  height: 200px;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 3px;
  color: #ffffff;
}

#github-wrapper {
  width: 302px;
  height: 200px;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 3px;
  color: #ffffff;
}

#button-wrapper {
  display: flex;
  justify-content: center;
  z-index: 10;
  display: absolute;
  width: 500px;
}
#button-wrapper > * {
  margin: 0 5%;
  font-family: Avenir LT Std;
  color: #ffffff;
  margin-top: 30px;
  padding: 5px;
  cursor: pointer;
  width: 250px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 5px;
}
#button-wrapper > *:hover {
  color: #5b8fab;
}

#next {
  animation: breath 2s infinite ease-in-out;
}

@keyframes breath {
  0% {
    color: #ffffff;
  }
  50% {
    color: #5b8fab;
  }
  100% {
    color: #ffffff;
  }
}
