#super-trumps {
  width: 299px;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 5px;
  color: #ffffff;
  margin-top: 0;
}

#super-trumps-text {
  width: 302px;
  font-size: var(--font-size);
  line-height: 30px;
  color: #ffffff;
  letter-spacing: 2px;
  margin-bottom: 0;
}

#super-trumps-github {
  font-size: 14px;
  color: #ffffff;
  text-decoration: underline;
  z-index: 10;
}

@media (max-width: 1000px) {
  #super-trumps-image {
    width: 361.44px;
    height: 194.4px;
    background: url(../../images/super-trumps2.png) no-repeat center;
    background-size: contain;
    border-radius: 10px;
    opacity: 1;
    box-shadow: 5px 5px 5px 5px var(--shadow);
    /* transform: rotate(9.85deg); */
    overflow: visible;
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  #super-trumps-image {
    width: 451.8px;
    height: 243px;
    background: url(../../images/super-trumps2.png) no-repeat center;
    background-size: contain;
    border-radius: 10px;
    opacity: 1;
    box-shadow: 5px 5px 5px 5px var(--shadow);
    transform: rotate(9.85deg);
    overflow: visible;
    opacity: 0;
  }

  #super-trumps-image:before {
    content: "";
    position: absolute;
    background: url(../../images/super-trumps00.png) no-repeat center;
    background-size: cover;
    width: 451.8px;
    height: 243px;
    opacity: 0.2;
    box-shadow: 5px 5px 5px 5px var(--shadow);
    top: -275px;
    border-radius: 10px;
  }
  #super-trumps-image:after {
    content: "";
    position: absolute;
    background: url(../../images/super-trumps.png) no-repeat center;
    background-size: contain;
    width: 451.8px;
    height: 243px;
    opacity: 0.3;
    box-shadow: 5px 5px 5px 5px var(--shadow);
    bottom: -275px;
    border-radius: 10px;
  }
}

@media (min-width: 1500px) {
  #super-trumps-image {
    width: 502px;
    height: 270px;
    background: url(../../images/super-trumps2.png) no-repeat center;
    background-size: contain;
    border-radius: 10px;
    opacity: 1;
    box-shadow: 5px 5px 5px 5px var(--shadow);
    transform: rotate(9.85deg);
    overflow: visible;
    opacity: 0;
  }

  #super-trumps-image:before {
    content: "";
    position: absolute;
    background: url(../../images/super-trumps00.png) no-repeat center;
    background-size: cover;
    width: 502px;
    height: 270px;
    opacity: 0.2;
    box-shadow: 5px 5px 5px 5px var(--shadow);
    top: -300px;
    border-radius: 10px;
  }
  #super-trumps-image:after {
    content: "";
    position: absolute;
    background: url(../../images/super-trumps.png) no-repeat center;
    background-size: contain;
    width: 502px;
    height: 270px;
    opacity: 0.3;
    box-shadow: 5px 5px 5px 5px var(--shadow);
    bottom: -300px;
    border-radius: 10px;
  }
}
