footer {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--background);
  height: 300px;
  border-top: solid 2px black;
}
footer > * {
  padding: 2% 3%;
  margin: 0 5%;
}

.info {
  width: 32.5%;
}

.credits {
  width: 42.5%;
}

.links {
  width: 25%;
}

.footer-title {
  color: var(--main);
  font-family: var(--header);
  font-size: 35px;
}

.colaborators {
  color: var(--main);
  font-family: var(--header);
  font-size: 16px;
  margin: 25px 0px 5px 0px;
}

.footer-content {
  margin-top: 20px;
  color: var(--light);
  font-size: 12px;
  line-height: 22px;
}

.dual-text-wrapper > * {
  padding: 0 10px 5px 0;
  margin: 0px;
}

.footer-content a {
  text-decoration: line-through;
  color: var(--light);
  display: block;
}
.footer-content a:hover {
  color: var(--main);
}

.old-site {
  text-decoration: none !important;
}

.playground {
  pointer-events: none;
}

@media (max-width: 1000px) {
  footer > * {
    padding: 0;
    margin: 0;
  }

  .footer-content {
    letter-spacing: 1px;
  }

  .footer-title {
    font-size: 32px;
  }

  .info {
    padding: 3% 4%;
  }

  .credits {
    padding: 3% 0;
  }

  .links {
    padding: 3% 4%;
  }
}
