#about-me-section {
  display: flex;
  height: 100vh;
}

#about-me-heading-wrapper {
  display: flex;
  align-items: center;
  width: 50%;
}

#blob {
  opacity: 0;
  position: absolute;
  width: 863px;
  height: 570px;
  left: -352px;
  background: rgba(87, 138, 165, 0.6);
  border-radius: 285px;
}

#about-me {
  width: 299px;
  font-family: Avenir;
  font-size: 55px;
  letter-spacing: 5px;
  color: #333333;
  margin-left: 212px;
  z-index: 1;
  font-weight: 500;
}

#hello {
  width: 583px;
  font-family: Avenir;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #ffffff;
  align-self: center;
}
