body {
  background-color: #333333;
  overflow-x: hidden;
}

#main-heading {
  position: absolute;
  width: 993px;
  height: 65px;
  left: 186px;
  top: 224px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 65px;
  letter-spacing: 5px;
  color: #ffffff;
}

#sub-heading {
  position: absolute;
  width: 993px;
  height: 65px;
  left: 186px;
  top: 320px;
  font-family: Avenir;
  font-size: 40px;
  line-height: 65px;
  letter-spacing: 5px;
  color: #ffffff;
}

#arrows-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}
#arrows {
  width: 125px;
  height: 53px;
  fill: #496777;
  padding-bottom: 50px;
  animation: breath 3s infinite ease-in-out;
  transition: opacity 3s;
}

@keyframes breath {
  0% {
    fill: #496777;
  }
  50% {
    fill: #49677709;
  }
  100% {
    fill: #496777;
  }
}

#el-to-move {
  z-index: -1;
  position: absolute;
  width: 535px;
  height: 303px;
  background: #496777;
  border-radius: 10px;
  transform: rotate(9.85deg);
  box-shadow: 5px 5px 10px 0px #1b262c;
}

@keyframes first-circle-transition {
  0% {
    width: 535px;
    height: 303px;
    border-radius: 10px;
    background: #496777;
    box-shadow: 10px 10px 10px 0px #1b262c;
  }
  50% {
    box-shadow: 20px 20px 10px 5px #1b262c;
  }
  100% {
    width: 863px;
    height: 570px;
    border-radius: 285px;
    background: #496777;
    box-shadow: 5px 5px 10px 0px #1b262c;
  }
}
