body {
  background-color: #333333;
  overflow-x: hidden;
}

#main-heading {
  position: absolute;
  width: 993px;
  height: 65px;
  left: 186px;
  top: 224px;
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 65px;
  letter-spacing: 5px;
  color: #ffffff;
}

#sub-heading {
  position: absolute;
  width: 993px;
  height: 65px;
  left: 186px;
  top: 320px;
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 65px;
  letter-spacing: 5px;
  color: #ffffff;
}

#arrows-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}
#arrows {
  width: 125px;
  height: 53px;
  fill: #496777;
  padding-bottom: 50px;
  animation: breath 3s infinite ease-in-out;
  transition: opacity 3s;
}

@keyframes breath {
  0% {
    fill: #496777;
  }
  50% {
    fill: #49677709;
  }
  100% {
    fill: #496777;
  }
}

#projects-wrapper {
  display: flex;
  justify-content: space-evenly;
}

#project-text-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

#project-image-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  padding-top: 50px;
}
#project-image-wrapper > * {
  position: absolute;
}

#super-trumps {
  width: 299px;
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 5px;
  color: #ffffff;
  margin-top: 0;
}
#super-trumps-text {
  width: 302px;
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 3px;
  color: #ffffff;
}
#super-trumps-github {
  width: 302px;
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 3px;
  color: #ffffff;
  text-decoration: underline;
  margin-top: 30px;
}

#project-background {
  width: 535px;
  height: 303px;
  background: #496777;
  border-radius: 10px;
  transform: rotate(9.85deg);
}

#super-trumps-image {
  /* position: absolute; */
  width: 502px;
  height: 270px;
  /* left: 653px;
  top: 995px; */

  background: url(../images/super-trumps.png);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

#about-me-section {
  display: flex;
  margin-top: 5%;
  height: 100vh;
  /* background-color: green; */
}

#about-me-heading-wrapper {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* background-color: yellow; */
}

#blob-one {
  position: absolute;
  width: 863px;
  height: 570px;
  left: -863px;
  background: rgba(87, 138, 165, 0.6);
  border-radius: 285px;
  /* background-color: green; */
}

#blob {
  opacity: 0;
  position: absolute;
  width: 863px;
  height: 570px;
  left: -352px;
  /* top: 1735px; */
  background: rgba(87, 138, 165, 0.6);
  border-radius: 285px;
  /* background-color: green; */
}

#about-me {
  /* position: absolute; */
  width: 299px;
  height: 73px;
  /* left: 511px; */
  /* top: 1930px; */
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 86px;
  /* or 173% */
  letter-spacing: 5px;
  /* color: #ffffff; */
  color: #333333;
  margin-left: 212px;
  /* display: inline; */
  z-index: 1;
}

#hello {
  /* position: absolute; */
  width: 583px;
  /* height: 658px; */
  /* left: 670px; */
  /* top: 1773px; */
  font-family: Avenir LT Std;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 3px;
  color: #ffffff;
  align-self: center;
  margin-left: 200px;
}

#languages-section {
  height: 100vh;
  /* background-color: green; */
  display: flex;
  align-items: center;
}

#indv-languages-wrapper {
  /* background-color: bisque; */
  display: flex;
}

#indv-languages-wrapper > * {
  text-align: center;
}

#languages-heading-wrapper {
  display: flex;
  align-items: center;
  /* width: 500px; */
}

#blob-two {
  opacity: 0;
  position: absolute;
  width: 863px;
  height: 570px;
  right: -200px;
  /* top: 2441px; */
  background: rgba(87, 138, 165, 0.6);
  border-radius: 285px;
  overflow-x: hidden;
}

#languages {
  position: absolute;
  width: 210px;
  /* height: 73px; */
  right: 380px;
  /* top: 2651px; */
  font-family: Avenir LT Std;
  /* font-style: normal; */
  /* font-weight: normal; */
  font-size: 50px;
  line-height: 86px;
  /* display: flex; */
  /* align-items: center; */
  letter-spacing: 5px;
  /* color: #ffffff; */
  color: #333333;
  align-self: flex-end;
  z-index: 1;
}

#english {
  /* position: absolute; */
  width: 150px;
  height: 38px;
  left: 996px;
  /* top: 2360px; */

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  /* or 148% */

  letter-spacing: 5px;

  color: #ffffff;
}

#css {
  /* position: absolute; */
  width: 150px;
  height: 72px;
  left: 876px;
  /* top: 2374px; */

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  /* or 148% */

  letter-spacing: 5px;

  color: #ffffff;
}
#ruby {
  /* position: absolute; */
  width: 150px;
  height: 73px;
  left: 716px;
  /* top: 2456px; */

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  /* or 148% */

  letter-spacing: 5px;

  color: #ffffff;
}
#javascript {
  /* position: absolute; */
  width: 150px;
  height: 152px;
  left: 623px;
  /* top: 2596px; */

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  /* or 148% */

  letter-spacing: 5px;

  color: #ffffff;
}
#figma {
  /* position: absolute; */
  width: 150px;
  height: 38px;
  left: 631px;
  /* top: 2798px; */

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  /* or 148% */

  letter-spacing: 5px;

  color: #ffffff;
}
#html {
  /* position: absolute; */
  width: 150px;
  height: 38px;
  left: 700px;
  /* top: 2884px; */

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  /* or 148% */

  letter-spacing: 5px;

  color: #ffffff;
}
#java {
  /* position: absolute; */
  width: 150px;
  height: 73px;
  left: 800px;
  /* top: 2958px; */

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  /* or 148% */

  letter-spacing: 5px;

  color: #ffffff;
}
#german {
  /* position: absolute; */
  width: 150px;
  height: 38px;
  left: 993px;
  /* top: 3017px; */

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  /* or 148% */

  letter-spacing: 5px;

  color: #ffffff;
}

#contact-section {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#polaroids {
  /* position: absolute; */
  width: 552.83px;
  height: 591.85px;
  left: 80px;
  /* top: 3232.94px; */

  background: url(../images/polaroids.svg) no-repeat;
  border-radius: 0px;
  transform: rotate(-8deg);
}

#contact-wrapper {
  /* position: absolute; */
  left: 774px;
}

#contact {
  /* position: absolute; */
  width: 299px;
  height: 73px;
  left: 774px;
  /* top: 3268px; */

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 86px;
  /* or 173% */

  letter-spacing: 5px;

  color: #ffffff;
}
#email {
  /* position: absolute; */
  width: 458px;
  height: 55px;
  left: 774px;
  /* top: 3386px; */

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 55px;
  /* identical to box height, or 231% */

  letter-spacing: 5px;

  color: #ffffff;
}
#linkedin {
  /* position: absolute; */
  width: 458px;
  height: 49px;
  left: 774px;
  /* top: 3441px; */

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 55px;
  /* or 231% */

  letter-spacing: 5px;

  color: #ffffff;
}
#github {
  /* position: absolute; */
  width: 458px;
  height: 49px;
  left: 774px;
  /* top: 3497px; */

  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 55px;
  /* or 231% */

  letter-spacing: 5px;

  color: #ffffff;
}
