#languages-section {
  height: 100vh;
  display: flex;
  align-items: center;
}

#indv-languages-wrapper {
  /* padding: 5%; */
  width: 67%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

#languages-heading-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 33%;
  justify-content: center;
}

#languages {
  font-size: 55px;
  color: var(--dark);
  line-height: 570px;
  letter-spacing: 5px;
  z-index: 1;
  font-weight: 500;
}

#javascript {
  animation: accumulator 5s 0s infinite alternate;
}
#angular {
  animation: accumulator 5s 0.5s infinite alternate;
}
#sinatra {
  animation: accumulator 5s 1s infinite alternate;
}
#figma {
  animation: accumulator 5s 1.5s infinite alternate;
}
#ruby {
  animation: accumulator 5s 2s infinite alternate;
}
#css {
  animation: accumulator 5s 2.5s infinite alternate;
}
#html {
  animation: accumulator 5s 3s infinite alternate;
}
#java {
  animation: accumulator 5s 3.5s infinite alternate;
}
#react {
  animation: accumulator 5s 4s infinite alternate;
}
#english {
  animation: accumulator 5s 4.5s infinite alternate;
}
#german {
  animation: accumulator 5s 5s infinite alternate;
}

@keyframes accumulator {
  0% {
    fill: #496777;
  }
  50% {
    fill: #78a9c3;
  }
  100% {
    fill: white;
  }
}

@media (max-width: 1000px) {
  #languages-section {
    height: 100vh;
    width: 100vw;
    position: relative;
    flex-direction: column-reverse;
    justify-content: center;
  }

  #languages-heading-wrapper {
    height: auto;
  }

  #languages {
    color: var(--light);
    line-height: inherit;
    font-weight: 200;
    position: absolute;
    top: 50px;
  }

  #blob-two {
    position: absolute;
    width: 863px;
    height: 570px;
    left: 272px;
    top: none;
    opacity: 1;

    background: linear-gradient(
      -135deg,
      rgba(67, 115, 141, 1) 100%,
      rgba(104, 137, 150, 1) 0%
    );
    border-radius: 285px;
    box-shadow: -10px 10px 10px 5px var(--shadow);
  }

  #indv-languages-wrapper {
    transform: translateX(-60px);
  }
}
