#languages-section {
  height: 100vh;
  display: flex;
  align-items: center;
}

#indv-languages-wrapper {
  padding: 5%;
  width: 50%;
  display: flex;
  justify-content: center;
}

#languages-heading-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

#languages {
  font-family: Avenir;
  font-size: 55px;
  color: #333333;
  line-height: 570px;
  letter-spacing: 5px;
  padding-left: 30px;
  z-index: 1;
}
