:root {
  --main: #43738d;
  --dark: #353535;
  --light: white;
  --shadow: #131313;
  --background: #202020;
  --linGrad: linear-gradient(
    135deg,
    rgba(67, 115, 141, 1) 50%,
    rgb(8, 70, 95) 90%
  );
}

@media (max-width: 1000px) {
  .overflow-conatainer {
    overflow-x: hidden;
    width: 100vw;
  }
}

@media (min-width: 1000px) {
  :root {
    --font-size: 16px;
  }
}

@media (min-width: 1500px) {
  :root {
    --font-size: 20px;
  }
}
#landing-page {
  height: 100vh;
  width: 100vw;
  display: relative;
}

h3 {
  font-weight: 300;
}

body {
  background-color: var(--background);
  /* overflow-x: hidden; */
  padding: 0;
  margin: 0;
  font-family: Avenir;
  letter-spacing: 2px;
}

#heading-wrapper {
  position: absolute;
  top: 30%;
  left: 15%;
}
#heading-wrapper > * {
  letter-spacing: 5px;
  margin: 0;
}

#main-heading {
  font-weight: 500;
  font-size: 80px;
  color: var(--light);
  margin-left: -4px;
}

#sub-heading {
  font-weight: 200;
  font-size: 30px;
  margin-top: -10px;
  color: var(--main);
}

.scroll-arrows {
  width: 125px;
  height: 53px;
  fill: var(--main);
  position: absolute;
  animation: breath 2s alternate infinite;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.back-arrow {
  top: calc(100% - 120px);
  left: calc(50vw - 62.5px);
}
.next-arrow {
  top: calc(100% - 70px);
  left: calc(50vw - 62.5px);
}

@keyframes breath {
  0% {
    fill: var(--main);
  }
  100% {
    fill: #4967773b;
  }
}

#el-to-move {
  opacity: 1;
  z-index: -1;
  position: absolute;
  width: 863px;
  height: 370px;
  background: linear-gradient(
    135deg,
    rgba(104, 137, 150, 1) 0%,
    rgba(67, 115, 141, 1) 100%
  );
  border-radius: 50px;
  box-shadow: 10px 10px 10px 5px var(--shadow);
}

@media (max-width: 1000px) {
  :root {
    --font-size: 14px;
  }

  /* #landing-page {
    height: 150vh;
    width: 100vw;
    display: relative;
  } */

  #heading-wrapper {
    top: 25%;
    left: 7%;
  }

  #main-heading {
    font-size: 50px;
    margin-left: 0px;
    width: 80%;
    line-height: 50px;
  }

  #sub-heading {
    font-size: 20px;
    margin-top: -4px;
  }

  #el-to-move {
    opacity: 1;
    position: absolute;
    width: 863px;
    height: 570px;
    left: -489px;
    top: 29px;

    background: var(--linGrad);
    border-radius: 285px;
    box-shadow: 10px 10px 10px 5px var(--shadow);
  }
}
