:root {
  --main: #496777;
  --dark: #333333;
  --light: white;
  --shadow: #131b1f;
}

body {
  background-color: var(--dark);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

#main-heading {
  position: absolute;
  width: 993px;
  height: 65px;
  left: 186px;
  top: 224px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 65px;
  letter-spacing: 5px;
  color: var(--light);
}

#sub-heading {
  position: absolute;
  width: 993px;
  height: 65px;
  left: 186px;
  top: 320px;
  font-family: Avenir;
  font-size: 40px;
  line-height: 65px;
  letter-spacing: 5px;
  color: var(--light);
}

#arrows-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}
#arrows {
  width: 125px;
  height: 53px;
  fill: var(--main);
  padding-bottom: 50px;
  animation: breath 3s infinite ease-in-out;
  transition: opacity 3s;
}

@keyframes breath {
  0% {
    fill: var(--main);
  }
  50% {
    fill: #49677709;
  }
  100% {
    fill: var(--main);
  }
}

#el-to-move {
  z-index: -1;
  position: absolute;
  width: 535px;
  height: 303px;
  background: var(--main);
  border-radius: 10px;
  transform: rotate(9.85deg);
  box-shadow: 10px 10px 10px 0px var(--shadow);
}

footer {
  background-color: var(--dark);
  height: 300px;
  border-top: solid 2px black;
}
